:root {
  --bg-color: white;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #171717;
    --text-color: #f5f5f5;
  }
}

* {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
    font-size: 10vh;
    line-height: 1; 
}

p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 4vh;
}

p a {
    color: blue;
    font-style: italic;
}

#join-us img {
    margin-left: 20px;
    width: 40vw;
    height: auto;
}

footer p {
    font-size: 15px;
}