:root {
    --bg-color: white;
    --text-color: black;
    --shadow-color: rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #171717;
        --text-color: #f5f5f5;
        --shadow-color: rgba(245, 245, 245, 0.12);
    }
}

* {
    max-width: 95vw;
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav {
    width: 90vw;
    margin: 24px auto;
    padding: 12px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--bg-color);
    border-radius: 16px;
    box-shadow: 0 8px 24px var(--shadow-color);
}

/* Logo */
nav > a img {
    height: 72px;
    width: 72px;
}

/* Socials icon group */
nav > div {
    display: flex;
    align-items: center;
    gap: 14px;
}

nav > div a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > div img {
    width: 56px;
    height: 56px;
    transition: transform 0.2s ease;
}

/* Hover effects */
nav > div a:hover img {
    transform: translateY(-2px);
}

nav > a:hover img {
    transform: translate(-2px);
}

h1 {
    text-align: center;
    font-size: 10vh;
    line-height: 1; 
}

p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 4vh;
}

p a {
    color: blue;
    font-style: italic;
}

#join-us img {
    margin-left: 20px;
    width: 40vw;
    height: auto;
}

footer p {
    font-size: 15px;
}

#ad-popup {
  position: fixed;
  bottom: 20px;
  right: -50vw; /* hidden off-screen */
  width: 50vw;
  height: 50vh;
  padding: 16px;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: right 0.4s ease-in-out;
}

#ad-popup.show {
  right: 20px;
}

#ad-popup h3 {
  text-align: center;
  width: 100%;
  font-size: clamp(1em, 3cqw, 2em);
  margin: 5px;
}

#ad-popup p {
  margin: 0 0 12px;
  font-size: 14px;
}

#ad-popup img {
  align-self: center;
  margin-top: 5px;
  max-height: 40vh;
}

#ad-popup-close {
  position: absolute;
  top: 6px;
  right: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}