:root {
    --bg-color: white;
    --text-color: black;
    --shadow-color: rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #171717;
        --text-color: #f5f5f5;
        --shadow-color: rgba(245, 245, 245, 0.12);
    }
}

* {
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav {
    width: 95vw;
    margin: 24px auto;
    padding: 12px 20px;

    display: flex;
   align-items: center;
   justify-content: space-between;

    background: var(--bg-color);
    border-radius: 16px;
    box-shadow: 0 8px 24px var(--shadow-color);
}

/* Logo */
nav > a img {
    height: 72px;
    width: 72px;
}

/* Socials icon group */
nav > div {
    display: flex;
    align-items: center;
    gap: 14px;
}

nav > div a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > div img {
    width: 56px;
    height: 56px;
    transition: transform 0.2s ease;
}

/* Hover effects */
nav > div a:hover img {
    transform: translateY(-2px);
}

nav > a:hover img {
    transform: translate(-2px);
}

main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
}

hr {
    size: 2px;
}

h1 {
    font-size: 10vh;
    line-height: 1; 
}

h2 {
    text-align: center;
    font-size: 8vh;
}

h3 {
    margin-left: 20px;
    font-size: 6vh;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 4vh;
}

p a {
    color: blue;
    font-style: italic;
}

#participants h3 {
    text-align: center;
    font-size: 8vh;
}

#participants div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#winner-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#sponsors h3 {
    text-align: center;
    font-size: 8vh;
}

#sponsors div{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

#sponsors div a {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponsors div a img {
    width: 40vw;
    height: auto;
}

iframe {
    height: 100vh;
    width: 98vw;
}

footer p {
    font-size: 15px;
}